packages:
  yum:
    git : []
    libmemcached: []

container_commands:
  01_install_node:
    command: "export PATH=$PATH;yum install -y --enablerepo=epel nodejs npm &>> /tmp/deploy.log"
  02_install_bower:
    command: "npm install -g bower &>> /tmp/deploy.log"
  03_bower version:
    command: "bower --version"
  04_bower_install:
    command: "bower install --allow-root"